@import "../../data/styles.css";

.about-page .portfolio-about {
	padding-top: 170px;
}

@media (max-width: 900px) {
	.about-page .portfolio-about {
		padding-top: 138px;
	}
}

@media (max-width: 680px) {
	.about-page .portfolio-about {
		padding-top: 116px;
	}
}
