@import "../../data/styles.css";

.contact-page .portfolio-contact {
	min-height: calc(100vh - 178px);
	padding-top: 170px;
}

@media (max-width: 900px) {
	.contact-page .portfolio-contact {
		padding-top: 138px;
	}
}

@media (max-width: 680px) {
	.contact-page .portfolio-contact {
		padding-top: 116px;
	}
}
