@import "../../data/styles.css";

.projects-page .portfolio-projects {
	padding-top: 170px;
}

@media (max-width: 900px) {
	.projects-page .portfolio-projects {
		padding-top: 138px;
	}
}

@media (max-width: 680px) {
	.projects-page .portfolio-projects {
		padding-top: 116px;
	}
}
